<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入bootstap的css文件 -->
    <link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap-theme.css">

    <!-- 引入jquery文件 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的js文件 -->
    <script type="text/javascript" src="../js/bootstrap/bootstrap3/js/bootstrap.min.js"></script>
    <!-- 引入弹框的js文件 -->
    <script type="text/javascript" src="../js/bootstrap/bootstrap-bootbox/bootbox.js"></script>
    <!-- 引入表格的css和js文件 -->
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-table/bootstrap-table.css">
    <script src="../js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <script src="../js/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">

    <style>
        .btn{
            margin-right: 30px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <p class="navbar-text navbar-right">
            <button type="button" onclick="cancel()" class="btn btn-success glyphicon glyphicon-search">取消</button>
            <button type="button" onclick="addProject()" class="btn btn-warning glyphicon glyphicon-plus">保存</button>
    </div>
</nav>
<div style="border-color: #ddd;border-width: 1px;">
    <div class="container-fluid">
        <form id="projectForm">
            <input type="hidden" name="proid" id="proid">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <label for="pronumber">*项目编号:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="pronumber" name="pronumber" placeholder="输入项目编号">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <label for="proname">项目名称:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="proname" name="proname">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <label>项目描述:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="prodescribe" id="prodescribe" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <label>项目负责人:</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" name="proprincipal" id="proprincipal" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <label>技术负责人:</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" name="protechlead" id="protechlead" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <label>产品负责人:</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" name="proproduct" id="proproduct" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <label>测试负责人:</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" name="protest" id="protest" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <label>市场负责人:</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" name="promarketing" id="promarketing" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <label>*项目开始日期:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="prostartdate" id="prostartdate" class="form-control date">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <label>*项目截止日期:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="proenddate" id="proenddate" class="form-control date">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <label>阶段计划表:</label>
                    </div>
                    <div class="col-md-8">
                        <span id="spanadd"></span>
                        <table class="table" id="jhTable"></table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <label></label>
                    </div>
                    <div class="col-md-10">
                        <!--<form id="stageForm">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>*阶段选择:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select type="text" class="form-control" id="stageList[0].stage" name="stage">
                                            <option value="需求对接">需求对接</option>
                                            <option value="需求分析">需求分析</option>
                                            <option value="产品分析">产品分析</option>
                                            <option value="项目完成">项目完成</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>开始日期:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control date" id="stageList[0].stadate" name="stadate">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>完成日期:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control date" id="stageList[0].completion" name="stadate">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>阶段负责人:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="seeto" id="stageList[0].seeto" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </form>-->
                        <span id="span"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<input type="hidden" th:value="${proid}" id="sta">
</body>
<script>

    $(function (){
        alert($("#sta").val())
        fdate();
        status();

    })

    //取消
    function cancel() {
        location.href="../page/projectshow";
    }

    function status(){
        if ( $("#sta").val() ==-1){ //新增
            var str = ""
            str+='<div class="form-group">'
            str+='<div class="row">'
            str+='<div class="col-md-2">'
            str+='<label>*阶段选择:</label>'
            str+='</div>'
            str+='<div class="col-md-4">'
            str+='<select type="text" class="form-control" id="stageList[0].stage" name="stageList[0].stage">'
            str+='<option value="需求对接">需求对接</option>'
            str+='<option value="需求分析">需求分析</option>'
            str+='<option value="产品分析">产品分析</option>'
            str+='<option value="项目完成">项目完成</option>'
            str+='</select>'
            str+='</div>'
            str+='</div>'
            str+='</div>'
            str+='<div class="form-group">'
            str+='<div class="row">'
            str+='<div class="col-md-2">'
            str+='<label>开始日期:</label>'
            str+='</div>'
            str+='<div class="col-md-4">'
            str+='<input type="text" class="form-control date" id="stageList[0].stadate" name="stageList[0].stadate">'
            str+='</div>'
            str+='</div>'
            str+='</div>'
            str+='<div class="form-group">'
            str+='<div class="row">'
            str+='<div class="col-md-2">'
            str+='<label>完成日期:</label>'
            str+='</div>'
            str+='<div class="col-md-4">'
            str+='<input type="text" class="form-control date" id="stageList[0].completion" name="stageList[0].completion">'
            str+='</div>'
            str+='</div>'
            str+='</div>'
            str+='<div class="form-group" id="adddiv">'
            str+='<div class="row">'
            str+='<div class="col-md-2">'
            str+='<label>阶段负责人:</label>'
            str+='</div>'
            str+='<div class="col-md-4">'
            str+='<input type="text" name="stageList[0].seeto" id="stageList[0].seeto" class="form-control">'
            str+='</div>'
            str+='</div>'
            str+='</div>';
            //$("#stageForm").append(str);
            //$("#stageForm").html(str);
            $("#span").html(str);
            var add="";
            add ='<a onclick="addsatge()" >新增阶段</a>';
            $("#spanadd").html(add);
            fdate()
        }else { //跟进:修改
            var proid = $("#sta").val();
            $.ajax({//回显项目信息
                url: "../project/findProjectById",
                data:{proid:proid},
                success:function (data){
                    $("#pronumber").val(data.pronumber)
                    $("#proname").val(data.proname)
                    $("#prodescribe").val(data.prodescribe)
                    $("#proprincipal").val(data.proprincipal)
                    $("#protechlead").val(data.protechlead)
                    $("#proproduct").val(data.proproduct)
                    $("#protest").val(data.protest)
                    $("#promarketing").val(data.promarketing)
                    $("#prostartdate").val(data.prostartdate)
                    $("#proenddate").val(data.proenddate)
                }
            })
            //根据项目id查询阶段计划表
            $("#jhTable").bootstrapTable({
                url:"../project/findStageByProId?proid="+proid,
                columns:[
                    {checkbox:true},
                    {field:"id",title:"序号"},
                    {field:"stage",title:"阶段"},
                    {field:"stadate",title:"开始日期"},
                    {field:"seeto",title:"阶段负责人"},
                    {field:"xx",title:"操作",formatter:function(value,rows,index){
                            var str ="";
                            str += "  <a href='javascript:goumai("+rows.id+")'>删除</a>";
                            str += "  <a href='javascript:toUpStageById("+rows.id+")'>修改</a>";
                            return str;
                        }}
                ]
            })
        }
    }


    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,//同步，默认是：异步
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    //打开阶段修改弹框
    function toUpStageById(id) {
        bootbox.dialog({
            title: "修改",
            message: createAddContent("../page/toaddstage"),
            buttons: {
                "success": {
                    "label": "<i class='icon-ok'></i> 保存",
                    "className": "btn-sm btn-success",
                    "callback": function () {
                        //提交表单数据：保存
                        //TODO
                        $.ajax({
                            url: '../project/upStageById',//后台请求地址
                            type: 'post',
                            data: $("#goupark").serialize(),//表单序列化
                            //dataType:'json',
                            success: function () {
                                //刷新表格
                                $("#jhTable").bootstrapTable("refresh")//刷新表格
                            }
                        });
                    }
                },
                "cancel": {
                    "label": "<i class='icon-info'></i> 取消",
                    "className": "btn-sm btn-danger",
                    "callback": function () {

                    }
                }
            }
        });
        $.ajax({
            url:'../project/findStageById',//后台请求地址
            data:{id:id},
            //dataType:'json',
            success:function(data){
                $("#id").val(data.id)
                $("#stage").val(data.stage)
                $("#stadate").val(data.stadate)
                $("#completion").val(data.completion)
                $("#seeto").val(data.seeto)
            }
        });

    }

    //新增
    function addProject(){
        $.ajax({
            url:'../project/addProject',//后台请求地址
            type:'post',
            data:$("#projectForm").serialize(),//表单序列化
            //dataType:'json',
            success:function(){
                bootbox.alert({
                    size: "small",
                    title: "提示",
                    message: "成功",
                    callback: function(){
                        return;
                    }
                });
                //刷新表格
                cancel();
            }
        });
    }

    var i = 1;
    function addsatge(){
        alert(i)
        var str = ""
        str+='<hr>'
        str+='<div class="form-group">'
            str+='<div class="row">'
                str+='<div class="col-md-2">'
                    str+='<label>*阶段选择:</label>'
                str+='</div>'
                str+='<div class="col-md-4">'
                    str+='<select type="text" class="form-control" id="stageList['+i+'].stage" name="stageList['+i+'].stage">'
                        str+='<option value="需求对接">需求对接</option>'
                        str+='<option value="需求分析">需求分析</option>'
                        str+='<option value="产品分析">产品分析</option>'
                        str+='<option value="项目完成">项目完成</option>'
                    str+='</select>'
                str+='</div>'
            str+='</div>'
        str+='</div>'
        str+='<div class="form-group">'
            str+='<div class="row">'
                str+='<div class="col-md-2">'
                    str+='<label>开始日期:</label>'
                str+='</div>'
                str+='<div class="col-md-4">'
                    str+='<input type="text" class="form-control date" id="stageList['+i+'].stadate" name="stageList['+i+'].stadate">'
                str+='</div>'
            str+='</div>'
        str+='</div>'
        str+='<div class="form-group">'
            str+='<div class="row">'
                str+='<div class="col-md-2">'
                    str+='<label>完成日期:</label>'
                str+='</div>'
                str+='<div class="col-md-4">'
                    str+='<input type="text" class="form-control date" id="stageList['+i+'].completion" name="stageList['+i+'].completion">'
                str+='</div>'
            str+='</div>'
        str+='</div>'
        str+='<div class="form-group">'
            str+='<div class="row">'
                str+='<div class="col-md-2">'
                    str+='<label>阶段负责人:</label>'
                str+='</div>'
                str+='<div class="col-md-4">'
                    str+='<input type="text" name="stageList['+i+'].seeto" id="stageList['+i+'].seeto" class="form-control">'
                str+='</div>'
            str+='</div>'
        str+='</div>';
        $("#adddiv").append(str);
        i++
        fdate()
    }

    function fdate(){
        $('.date').datetimepicker({
            language: 'zh-CN',//显示中文
            format: 'yyyy-mm-dd',//显示格式
            minView: "month",//设置只显示到月份
            initialDate: new Date(),//初始化当前日期
            autoclose: true,//选中自动关闭
            todayBtn: true//显示今日按钮
        });
    }

</script>
</html>