<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入bootstap的css文件 -->
    <link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap-theme.css">

    <!-- 引入jquery文件 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的js文件 -->
    <script type="text/javascript" src="../js/bootstrap/bootstrap3/js/bootstrap.min.js"></script>
    <!-- 引入弹框的js文件 -->
    <script type="text/javascript" src="../js/bootstrap/bootstrap-bootbox/bootbox.js"></script>
    <!-- 引入表格的css和js文件 -->
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-table/bootstrap-table.css">
    <script src="../js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <script src="../js/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
</head>
<body>
    <div id="toolbar">
        <form class="form-inline">
            <div class="form-group">
                <label for="name">报销人：</label>
                <input type="text" class="form-control" id="name" placeholder="输入姓名">
                <label>报销状态：</label>
                <select type="text" id="status" class="form-control">
                    <option value="-1">--请选择--</option>
                    <option value="1">未报销</option>
                    <option value="2">已完成</option>
                </select>
            </div>
            <button type="button" onclick="searchProject()" class="btn btn-success glyphicon glyphicon-search">搜索</button>
            <button type="button" onclick="openCost()" class="btn btn-warning glyphicon glyphicon-plus">新增</button>
        </form>
    </div>
    <table class="table" id="costTable"></table>
</body>

<script type="text/javascript">
    $(function(){
        initCostTable();
    })
    //删除项目
    function delPro(proid){
        bootbox.confirm({
            size: "small",
            title:"提示",
            message: "是否确认删除?",
            buttons: {
                confirm: {
                    label: '确定',
                    className: 'btn-success'
                },
                cancel: {
                    label: '取消',
                    className: 'btn-danger'
                }
            },
            callback: function(result){
                if(result){
                    $.ajax({
                        url:"../project/delProByProId",
                        data:{proid:proid},
                        success:function(){
                            bootbox.alert({
                                size: "small",
                                title: "提示",
                                message: "删除成功！！！",
                                callback: function(){}
                            });
                            searchProject();
                        }
                    });
                }
            }
        })
    }

    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,//同步，默认是：异步
            success:function(data){
                res = data;
            }
        });
        return res;
    }




    function accomplish(id){
        $.ajax({
            url:"../cost/accomplish",
            data:{id:id},
            success:function(){
                bootbox.alert({
                    size: "small",
                    title: "提示",
                    message: "操作成功！！！",
                    callback: function(){}
                });
                searchProject();
            }
        });
    }


    //跳转至详情页
    function findCostInfo(id){
        location.href="../page/toCostInfo?id="+id;
    }

    //跳转新增页
    function openCost(id){
        if (id == null){//新增
            location.href="../page/toCostadd";
        }else { //跟进
            location.href="../page/toCostadd?id="+id;
        }
    }

    function searchProject(){
        $("#costTable").bootstrapTable("refresh")
    }
    function initCostTable(){
        $("#costTable").bootstrapTable({
            url:"../cost/findCostPage",
            toolbar:'#toolbar',
            pagination:true,
            pageList:[10,20],
            pageNumber:1,
            pageSize:10,
            sidePagination:"server",
            queryParams:function(){
                return{
                    page:this.pageNumber,
                    rows:this.pageSize,
                    name: $("#name").val(),
                    status: $("#status").val()
                };
            },
            columns:[
                {checkbox:true},
                {field:"id",title:"序号"},
                {field:"type",title:"报销类型",formatter:function(value,rows,index){
                        if (value == 1){
                            return "餐费";
                        }
                        if (value == 2){
                            return "其他费用";
                        }
                    }},
                {field:"money",title:"金额（元）"},
                {field:"name",title:"报销人"},
                {field:"status",title:"状态",formatter:function(value,rows,index){
                        if (value == 1){
                            return "未报销";
                        }
                        if (value == 2){
                            return "已完成";
                        }
                    }},
                {field:"date",title:"报销日期"},
                {field:"xx",title:"操作",formatter:function(value,rows,index){
                        var str ="";
                        if (rows.status==2){
                            str +=" <span style='color: #8c8c8c'>完成报销</span>"
                            str +=" <span style='color: #8c8c8c'>修改</span>"
                           // str += "  <a href='javascript:accomplish(\""+rows.id+"\")'>完成报销</a>";
                           // str += "  <a href='javascript:openCost(\""+rows.id+"\")'>修改</a>";
                            str += "  <a href='javascript:findCostInfo(\""+rows.id+"\")'>详情</a>";
                        }else {
                            str += "  <a href='javascript:accomplish(\""+rows.id+"\")'>完成报销</a>";
                            str += "  <a href='javascript:openCost(\""+rows.id+"\")'>修改</a>";
                            str += "  <a href='javascript:findCostInfo(\""+rows.id+"\")'>详情</a>";
                        }

                        return str;
                    }}
            ]
        })
    }

    </script>
</html>